/* ==========================================================================
   Ogange Color styles
========================================================================== */

.navbar-nav > li > a.current {
    color: #D4B068;
}
.top-nav-collapse .navbar-nav > li > a.current {
    color: #D4B068;
}
.top-nav-collapse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:hover, .top-nav-collapse .navbar-nav > li > a.current:focus {
    color: #D4B068;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color: #D4B068;
}

.ban1_txt h3 {
  color: #D4B068;
}


.about-left small {
    color: #D4B068;
}
.about-more a {
    color: #D4B068;
}



.hvr-shutter-in-horizontal::before {
    border-top: 1px solid #D4B068;
    border-bottom: 1px solid #D4B068;
}
header .hvr-shutter-in-horizontal::before {
    border-top: 1px solid rgba(255, 255, 255, 0.73);
    border-bottom: 1px solid rgba(255, 255, 255, 0.73);
}


.list-group-item i {
    color: #D4B068;
}
.how-box h2 {
    color: #D4B068;
}


.text-riht small {
    color: #D4B068;
}


.achieve-header small {
    color: #D4B068;
}
.achieve-section .col-md-3 i {
    color: #D4B068;
}


.base-header small {
    color: #D4B068;
}
.project-filter ul li.active {
    color: #D4B068;
    border-bottom: 2px solid #D4B068;
}
.project-filter ul li:hover {
  color: #D4B068;
}

.project_menu .hvr-underline-from-center::before {
    background: #D4B068;
}
.mask2 p {
    color: #D4B068;
}
.mask2 i {
    color: #D4B068;
}
.work-item:hover .mask2 {
    border: 1px solid #D4B068;
}

section.impres h3 {
    color: #D4B068;
}


.cont-left span {
    color: #D4B068;
}


.base-header small {
    color: #D4B068;
}
.member .info {
    border: 1px solid #D4B068;
}
.member .info h6 small {
    color: #D4B068;
} 
.member .info .social i {
    color: #D4B068;
}
.social ul li a:hover i, .social li:hover i {
    -webkit-box-shadow: inset 0 0 0 .15em #D4B068;
    -moz-box-shadow: inset 0 0 0 .15em #D4B068;
    -ms-box-shadow: inset 0 0 0 .15em #D4B068;
    -o-box-shadow: inset 0 0 0 .15em #D4B068;
    box-shadow: inset 0 0 0 .15em #D4B068;
}

.infosection .infobig span {
    color: #D4B068;
}


.testimonial-content h2 {
    color: #D4B068;
}

.testimonial-box span {
    color: #D4B068;
}
.testimonial-section .owl-theme .owl-controls .owl-page.active span {
    background: #D4B068;
}
.testimonial-section .owl-theme .owl-controls .owl-page:hover span {
    background: #D4B068;
}



.client-box:hover {
    border-color: #D4B068;
}



.achieve-header small {
    color: #D4B068;
}
.btn-chos:hover, .btn-chos:active, .btn-chos:focus {
    border-top: 1px solid #D4B068 !important;
    border-bottom: 1px solid #D4B068 !important;
}


.contact .form-group input, .contact .form-group textarea {
    border-color: #D4B068;
}
.contact .form-control:focus {
    border-color: #D4B068;
}
.cont-details i {
    color: #D4B068;
    font-size: 15px;
    padding-right: 15px;
}
.icon {
    color: #D4B068;
}
.social_footer a {
    color: #D4B068;
}
.text-primary {
    color: #D4B068;
}
.footer-links a {
    color: #D4B068;
}


.blog-header h3 {
    color: #D4B068;
	border-top: 3px solid #D4B068;
    border-bottom: 3px solid #D4B068;
}
.blog-post-list .post-meta i {
    color: #D4B068;
}
.blog-area .pager li > a {
    color: #D4B068;
}
.blog-post-list .post-meta span {
    color: #D4B068;
}
